.wrk_app {
  text-align: center;
  width: 100%; }
  .wrk_app .wrk_lauch_button {
    height: 180px;
    width: 180px;
    -webkit-border-radius: 90px;
    -moz-border-radius: 90px;
    border-radius: 90px;
    display: block;
    border: 3px solid #444;
    background-color: #c11;
    position: absolute;
    top: 30%;
    left: 50%;
    margin: -90px auto 0 -90px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c17a7a+0,c62727+100 */
    background: #c17a7a;
    /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #c17a7a 0%, #c62727 100%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #c17a7a), color-stop(100%, #c62727));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #c17a7a 0%, #c62727 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #c17a7a 0%, #c62727 100%);
    /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #c17a7a 0%, #c62727 100%);
    /* IE10+ */
    background: radial-gradient(ellipse at center, #c17a7a 0%, #c62727 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c17a7a', endColorstr='#c62727',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */
    -webkit-box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.4); }
    .wrk_app .wrk_lauch_button:focus {
      outline: none; }
    .wrk_app .wrk_lauch_button:active {
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bf4e4e+0,c40d0d+100 */
      background: #bf4e4e;
      /* Old browsers */
      background: -moz-radial-gradient(center, ellipse cover, #bf4e4e 0%, #c40d0d 100%);
      /* FF3.6+ */
      background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #bf4e4e), color-stop(100%, #c40d0d));
      /* Chrome,Safari4+ */
      background: -webkit-radial-gradient(center, ellipse cover, #bf4e4e 0%, #c40d0d 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-radial-gradient(center, ellipse cover, #bf4e4e 0%, #c40d0d 100%);
      /* Opera 12+ */
      background: -ms-radial-gradient(center, ellipse cover, #bf4e4e 0%, #c40d0d 100%);
      /* IE10+ */
      background: radial-gradient(ellipse at center, #bf4e4e 0%, #c40d0d 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf4e4e', endColorstr='#c40d0d',GradientType=1 );
      /* IE6-9 fallback on horizontal gradient */
      -webkit-box-shadow: inset 0px 0px 9px 1px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: inset 0px 0px 9px 1px rgba(0, 0, 0, 0.4);
      box-shadow: inset 0px 0px 9px 1px rgba(0, 0, 0, 0.4); }

.wrk_lock {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding-top: 30%; }
  .wrk_lock.wrk_lock_hiden {
    display: none; }
  .wrk_lock .wrk_lock_overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.8; }
  .wrk_lock .wrk_lock_buttons {
    width: 100%;
    text-align: center;
    position: relative; }
    .wrk_lock .wrk_lock_buttons .wrk_button {
      background-color: white;
      border: 3px solid #444;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      font-size: 3em;
      font-family: monospace;
      font-weight: bold;
      text-align: center;
      padding: 10px;
      margin: 0 5px;
      color: #444; }
      .wrk_lock .wrk_lock_buttons .wrk_button.wrk_button_pressed {
        border: 3px solid #55f;
        color: #999;
        background-color: #ddd; }
      .wrk_lock .wrk_lock_buttons .wrk_button:focus {
        outline: none; }

body {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  padding: 0;
  margin: 0;
  min-height: 100%; }

/*# sourceMappingURL=main.css.map */
